scratch/pipeline/n8n_reels_insights.json
{
  "name": "SellFit — 릴스 인사이트",
  "nodes": [
    {
      "parameters": {},
      "id": "b0000001-0000-0000-0000-000000000001",
      "name": "수동 실행",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "i1",
              "name": "accessToken",
              "value": "PASTE_META_ACCESS_TOKEN_HERE",
              "type": "string"
            },
            {
              "id": "i2",
              "name": "mediaId",
              "value": "PASTE_MEDIA_ID_FROM_UPLOAD_RESULT",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0000002-0000-0000-0000-000000000002",
      "name": "Set: 설정",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [420, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.mediaId }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "metric",
              "value": "reach,plays,ig_reels_avg_watch_time,ig_reels_video_view_total_time,saved,shares,comments,likes,total_interactions"
            },
            {
              "name": "access_token",
              "value": "={{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b0000003-0000-0000-0000-000000000003",
      "name": "HTTP: 인사이트 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 320]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Meta API 응답 평탄화\nconst raw = {};\nif (data.data && Array.isArray(data.data)) {\n  for (const item of data.data) {\n    const val = item.values?.[0]?.value ?? item.value ?? 0;\n    raw[item.name] = val;\n  }\n}\n\nconst reach   = Number(raw.reach ?? 0);\nconst saved   = Number(raw.saved ?? 0);\nconst plays   = Number(raw.plays ?? 0);\nconst avgMs   = Number(raw.ig_reels_avg_watch_time ?? 0);\nconst avgSec  = Math.round(avgMs / 1000 * 10) / 10;\n\nconst saveRate = reach > 0 ? ((saved / reach) * 100).toFixed(1) + '%' : 'N/A';\n\n// 구매 의도 신호 평가\nlet signal = '낮음';\nif (saved >= 20 || (reach > 0 && saved / reach >= 0.03)) signal = '높음 🔥';\nelse if (saved >= 5 || (reach > 0 && saved / reach >= 0.01)) signal = '중간 👀';\n\nreturn [{\n  json: {\n    reach,\n    plays,\n    avg_watch_sec: avgSec,\n    saved,\n    shares:   Number(raw.shares ?? 0),\n    comments: Number(raw.comments ?? 0),\n    likes:    Number(raw.likes ?? 0),\n    total_interactions: Number(raw.total_interactions ?? 0),\n    save_rate: saveRate,\n    purchase_intent_signal: signal,\n    summary: `도달 ${reach.toLocaleString()} · 저장 ${saved} (${saveRate}) · 재생 ${plays.toLocaleString()} · 평균시청 ${avgSec}초 · 구매의도신호 ${signal}`\n  }\n}];"
      },
      "id": "b0000004-0000-0000-0000-000000000004",
      "name": "Code: 결과 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 320]
    }
  ],
  "connections": {
    "수동 실행": {
      "main": [
        [{"node": "Set: 설정", "type": "main", "index": 0}]
      ]
    },
    "Set: 설정": {
      "main": [
        [{"node": "HTTP: 인사이트 조회", "type": "main", "index": 0}]
      ]
    },
    "HTTP: 인사이트 조회": {
      "main": [
        [{"node": "Code: 결과 포맷", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0000001-0000-0000-0000-000000000001"
}
